*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system;
    background-color: rgb(11, 9, 20);
}
h1{
    font-size: 2em;
    padding: 5px 15px;
    margin: 15px;
    color: white;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.418);
    text-align: left;
    background-color: black;
    background: linear-gradient( to right,rgba(180, 184, 202, 0.24), transparent);
    border-radius: 15px;
}